<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crysoft.me.tobias">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchActivity" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductsActivity"
            android:label="@string/title_activity_products"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.crysoft.me.tobias.HomeActivity" />
        </activity>
        <activity
            android:name=".ProductDetailsActivity"
            android:label="@string/title_activity_product_details"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CartActivity"
            android:label="@string/title_activity_cart"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".WishlistActivity"
            android:label="@string/title_activity_wishlist"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignIn"
            android:label="@string/title_activity_sign_in"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.crysoft.me.tobias.LoginActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.crysoft.me.tobias.LoginActivity" />
        </activity>
        <activity
            android:name=".FacebookLoginActivity"
            android:label="@string/title_activity_facebook_login"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.crysoft.me.tobias.LoginActivity" />
        </activity>
        <activity
            android:name=".FullscreenLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen_login"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>